html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 18px;
    line-height: 1.777;
    /* color: grey; */
}

.wrapper {
    width: 100%;
    /* height не использовать в пикселах. 
    и вообще лучше не использовать - 
    вылезет за границы блока нужно min-height*/
    position: relative;
    /* убираем overflow: hidden чтобы
    hаботали sticky */
    /* overflow: hidden;  */
    /* обрезает контент  */
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    /* vertical-align: top; - у картинки баг - снизу 
    6-10 пикселей высоты. 
    Родитель становится таким же как родитель*/
}



.box {
    background: beige;
    padding: 20px;
    border: 2px dotted #000;
    margin-bottom: 20px;
    max-width: 300px;
}

.content-box {
    box-sizing: content-box;
}

.holder {
    width: 350px;
    height: 220px;
    border: 2px dashed red;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    background: green;
    /* overflow: hidden; */
}
.inner {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}
 
.left {
    float: left;
    margin: 0 20px 20px 0;
}

.right {
    float: right;
    margin: 0 20px 20px 0;
}

/* <!-- _____________ --> */


.relative {
    min-height: 100vh;
    position: relative;
}

.fixed {
    background: green;
}

.fixed h1{
    position: fixed;
    top: 30px;
    right: 30px;
}

.sticky {
    background: pink;

}

.sticky h1{
    position: sticky;
    top: 20px;
    left: 30px;
}

.absolute {
    background: lightblue;
}

.absolute h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 30px;
    z-index: 20;
}

.holder-box {
    background: yellow;
}

.holder-box:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background: #000;
    z-index: 1;
}

.holder-box:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    background: #000;
}
 
.translate {
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}
 
.translate:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background: #000;
}

.translate:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    background: #000;
}

.clearfix:after { 
    content: " ";      /* добавить содержимое: "." */ 
    display: table;    /* сделать блоком, т.к. inline не может иметь clear */ 
    clear: both;       /* с обеих сторон clear */ 
}
 