@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia/Revalia-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto, Arial, Verdana, sans-serif;
    font-weight: normal;
    /* font-size: 100%; */
 }

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; 
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

/* всё выше по умолчанию */

.container {
    max-width: 1950px;
    /* max-height: 1004px; */
    padding: 0 15px;
    margin: 0 auto;
    background: #EEEFF1;
}

/* _____________________header__________________ */

.header {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.logo {
    display: flex;
    max-width: 896px;
    width: 100%;
    justify-content: center;
    font-family: Revalia, Arial, Verdana, sans-serif;
    font-size: 48px;
    line-height: 1.24;
    padding: 0 10px;
    font-weight: 400; /* можно не указывать, т.к. по дефолту*/ 
    text-decoration: none;
    color: #34547A;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 10px;
    margin: 0 -21px;
}

.nav-box {
    display: flex;
    list-style: none;
}

.nav-item {
    text-transform: uppercase;
    padding: 0 21px;
    white-space: nowrap;
    text-decoration: none;

}

.nav-item:nth-child(1) {
    font-weight: 500;
}

.nav-item a {
    text-decoration: none;
    color: #34547A;
}

/* _____________________design__________________ */

.design-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: center;
}

.design-col {
    width: 50%;
    padding: 0 15px 30px;
}

.design-col h1 {
    font-size: 48px;
    line-height: 1.64;
    font-weight: 500;
    padding: 15px;
}

.design-col p {
    font-size: 16px;
    line-height: 1.64;
    font-weight: 400;
    color: #727272;
    padding: 15px;
}

.writeme {
    padding: 25px 41px;
    color: #fff;
    background: #34547A;
    text-decoration: none;
    padding: 15px;
}

.design-img {

}
.design-col 1 {}










/* .row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    padding: 0 15px 30px;
} */

  /* всё выше по умолчанию для flex*/

  /* .aside { */
    /* display: flex; */

    /* flex-basis: 210px; не работает*/
    /* max-width: 210px; */
    /* width: 100%; */
    /* так работает (см.выше) */

    /* justify-content: center; если флекс*/
    /* padding: 10px;
    text-align: center;
  } */
