html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* всё выше по умолчанию */

.container {
  /* max-width: 1180px; */
  display: flex;
  padding: 0 15px;
  margin: 0 auto; 
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #D2B942;
  padding: 5px;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-grow: 1;
}

.mainArticle {
  background-color: #fff;
  flex-grow: 1;
  text-align: center;
  padding: 30px;
}

.mainArticle p {
  text-indent: 20px;
  margin: 0 0 10px 0;
}

.aside {
  max-width: 210px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.aside1 {
  background-color: #C798B9;
  order: -1;
}

.aside2 {
  background-color: #9CB1C7;
}

.footer {
  background-color: #84e485;
  flex-basis: 100%;
  text-align: center;
  padding: 10px 10px 5px 10px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
} 

.nav-item {
  margin: 0 10px 0 0;
  list-style: none;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}








/* 

.main {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
}





.mainArticle p {
    text-indent: 20px;
    margin: 0 0 10px 0;
}

.aside {
  flex-basis: 210px;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

 */






/* .row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 25%;
  padding: 0 15px 30px;
} */


