html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 18px;
    /* line-height: 1.5; */
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; 
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
  /* всё выше по умолчанию */
