html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 22px;
    /* line-height: 1.5; */
}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; 
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
  /* всё выше по умолчанию */

h1 {
    font-size: 25px;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: normal;
}

hr {
    margin: 0 0 5px 0;
}

.holder {
    display: flex;
    width: 400px;
    height: 112px;
    margin:0 auto;
    border: 2px solid #000;
    border-radius: 20px 20px 0 0;
    flex-wrap: wrap;
    overflow: hidden;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-grow: 1;
}

.item:nth-child(1) {
    background: #FD644D;
    flex-basis: 50%;
    order: -2;
}

.item:nth-child(2) {
    background: #4983B2;
}

.item:nth-child(3) {
    background: #663797;
    order: -1;
}

.item:nth-child(4) {
    background: #0E7F12;
}

.item:nth-child(5) {
    background: #FDA429;
    flex-basis: 50%;
    order: -2;
}