html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 14x;
    /* line-height: 1.777; */
    color: rgb(49, 48, 48);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; 
    min-height: 100vh;
}
  /* всё выше по умолчанию */

.container {
    max-width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    align-items: center;

}

.col {
    width: 25%;
    padding: 0 15px 30px;
}


/* HW 5
.holder {
    display: flex;
    border: 2px solid #000;
    border-radius: 20px 20px 0 0;
    width: 400px;
    flex-wrap: wrap;
    overflow: hidden;


}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex-grow: 1; 
    занимать свободное место
}

.item:nth-child(1) {
    background: #FD644D;
    flex-basis: 50%;
    тоже самое что размер 50%
    order: -2;
}

.item:nth-child(2) {
    background: #4983B2;
    order: 1;
}

.item:nth-child(3) {
    background: #4983B2;
}

.item:nth-child(4) {
    background: #0f7f12;
    order: 1;
}

.item:nth-child(5) {
    background: #fda429;
    order: -2;
    flex-basis: 50%;
} */